<!--creado por jacob -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <form class="box" action="index.Html" method="post" onsubmit="validarUsuario(event,this)">
        <h1>Bienvenido</h1>
        <input name="user" type="text" placeholder="&#128272 Usuario" id="user">
        <input name="pass" type="password" placeholder="&#128272 Contraseña" id="pass">
        <input type="submit" name="" value="Ingresar">
    </form>
</body>
</html>